{% import "macros" as macros %}
<html class="dark:bg-slate-800 dark:text-stone-100">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
        <link href="/static/output.css" rel="stylesheet">
    </head>
    {% block content %}
    {% endblock content %}
</html>
