{% extends "base" %}

{% block title %}
    Greeter
{% endblock title %}

{% block content %}
    <div class="ml-3">Hello {{ name }}</div>
    <div><form method="POST">
        {{ macros::submit_button(text="Logout") }}
    </form></div>

    {% if name == "admin" %}
        {% include "admin" %}
    {% endif %}
{% endblock content %}
