{% extends "base" %}

{% block title %}
    Greeter
{% endblock title %}

{% block content %}
    {% set button_text = "Login" %}
    {% include "button" %}

    <div class="ml-3">Hello {{ name }}</div>
{% endblock content %}
