{% extends "base" %}

{% block content %}

{% if message %}
   {%if kind == "error" %} 
      <div class="text-rose-500">Error: {{ message }}</div>
   {% endif %}
{% endif %}

<form method="POST">
   Name: {{ macros::input_field(name="name", value="") }}
   {{ macros::submit_button(text="Log me in") }}
</form>
{% endblock content %}
